<%= simple_form_for @quote do |f| %>
    <% if @quote.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

          <ul>
            <% @quote.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <section id="main-content">
      <div id="guts">
        <div id="project">

          <span class="quote">
            <%= f.fields_for :customers do |f| %>
                <fieldset>
                  <h3><%= f.label :company_name, "Company Name: " %></h3>
                  <% f.text_area :company_name %>
                </fieldset>
                <% end %>
            <div class="field">
              <%= f.label :quote_status, "Status:" %> <%= f.select(:quote_status, options_for_select([['New', 'New'], ['Open', 'Open'], ['Approved', 'Approved'], ['Closed', 'Closed']])) %>
              <%= link_to "New Customer", quotes_new_url, :onclick => "javascript:window.open('/customers/new','popup','width=500,height=900,scrollbars=yes');" %>
            </div>

          <div id="customer-demographics">
            <h2><%= f.label :quote_information, "Quote Information" %></h2>
            <div class="field">
              <%= f.text_area :quote_information, :size => "43x14"  %>
            </div>
          </div>

          <div id="job-desc">
            <h2><%= f.label :production_notes %></h2>
            <div class="field">
              <%= f.text_area :production_notes, :size => "43x14"  %>
            </div>
          </div>

          <div id="dates"><h2 class="page-title">Critical Dates</h2>

            <div class="field">
              <%= f.label :quote_due_date %><%= f.date_select :quote_due_date %>
            </div>

            <div class="field">
              <%= f.label :artwork_due_date %><%= f.date_select :artwork_due_date %>
            </div>

            <div class="field">
              <%= f.label :quote_amount %><%= f.text_field :quote_amount %>
            </div>

            <div class="field">
              <%= f.label :artwork_proof_link %><%= f.text_field :artwork_proof_link %>
            </div>

          </div>
        </div>
        <div style="clear:both;"></div>
        <div class="actions">
          <%= f.button :submit %>
        </div>
      </div>

      </div>

      <div style="clear:both;"></div>

      </div>

    </section>
<% end %>