<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <section id="main-content">
      <div id="guts">

        <h2 class="page-title">New Quote</h2>
        <div id="project">
          <span class="quote"><div class="field">
            <%= f.label :customer_master_id %><br>
            <%= f.text_field :customer_master_id %>
          </div>
          <div class="field">
            <%= f.label :prospect_id %><br>
            <%= f.text_field :prospect_id %>
          </div></span>

          <div id="customer-demographics"><h2><%= f.label :project_info %></h2>
            <div class="field">
              <%= f.text_area :project_info %>
            </div>
          </div>

          <div id="job-desc"><h2><%= f.label :quote_notes %></h2>
            <div class="field">
              <%= f.text_area :quote_notes %>
            </div>
          </div>

          <div id="dates"><h2 class="page-title">Critical Dates</h2>

            <div class="field">
              <%= f.label :quote_due_date %><br>
              <%= f.date_select :quote_due_date %>
            </div>
            <div class="field">
              <%= f.label :artwork_due_date %><br>
              <%= f.date_select :artwork_due_date %>
            </div>
            <div class="field">
              <%= f.label :artwork_proof_link %><br>
              <%= f.text_field :artwork_proof_link %>
            </div>

            <div class="field">
              <%= f.label :quote_amount %><br>
              <%= f.text_field :quote_amount %>
              </div>

                <div class="field">
                  <%= f.label :quote_projected_close_date %><br>
                  <%= f.date_select :quote_projected_close_date %>
                </div>
              </div>
            </div>
        <div class="actions">
          <%= f.submit %>
        </div>
          </div>

        </div>

        <div style="clear:both;"></div>

      </div>

    </section>
<% end %>
