<h1>Listing quotes</h1>

<table>
  <thead>
    <tr>
      <th>Customer master</th>
      <th>Prospect</th>
      <th>Project info</th>
      <th>Quote amount</th>
      <th>Quote due date</th>
      <th>Quote projected close date</th>
      <th>Artwork due date</th>
      <th>Artwork proof link</th>
      <th>Quote notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer_master_id %></td>
        <td><%= quote.prospect_id %></td>
        <td><%= quote.project_info %></td>
        <td><%= quote.quote_amount %></td>
        <td><%= quote.quote_due_date %></td>
        <td><%= quote.quote_projected_close_date %></td>
        <td><%= quote.artwork_due_date %></td>
        <td><%= quote.artwork_proof_link %></td>
        <td><%= quote.quote_notes %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
