<p id="notice"><%= notice %></p>


<section id="main-content">
  <div id="guts">

    <h2 class="page-title">ID: #<%= @quote.id %></h2>Master ID: <%= @quote.quote_master_id %> | Status: <%= @quote.quote_status %>
    <div id="project">

      <div id="customer-demographics"><h2>Quote Information</h2>
        <div class="field">
          <%= @quote.quote_information %>
        </div>
      </div>

      <div id="job-desc"><h2>Production Notes</h2>
        <div class="field">
          <%= @quote.production_notes %>
        </div>
      </div>

      <div id="dates"><h2 class="page-title">Critical Dates</h2>

        <div class="field">
          <h3>Quote Due Date: </h3>
          <%= @quote.quote_due_date %>
        </div>
        <div class="field">
          <h3>Artwork Due Date: </h3>
          <%= @quote.artwork_due_date %>
        </div>
        <div class="field">
          <h3>Artwork Proof Link: </h3>
          <%= @quote.artwork_proof_link %>
        </div>

        <div class="field">
          <h3>Quote Amount: </h3>
          <%= @quote.quote_amount %>
        </div>

      </div>
    </div>
  </div>



  </div>

  <div style="clear:both;"></div>

  </div>

</section>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>