<section id="main-content">
  <div id="guts">

    <nav style="margin-bottom:50px;">
      <ul class="group">
        <li><%= link_to 'New Quote', 'quotes/new' %></li>
        <li><%= link_to 'Show Quotes', 'quotes' %></li>
      </ul>
    </nav>


    <div id="col1">
      <h2>Previous Day</h2>

      <div id="to-be-shipped">
        <h3>To Be Shipped</h3>
        <ul id="quotes">
        <% @quotes.each do |t| %>
                <li> <%= t.quote_id %> </li>
        <% end %>
        </ul>
      </div>

    </div>

    <div id="col2">
      <h2><b>Today</b> | Week | Month</h2>
      <ul id="quotes-row">
      <% @quotes.each do |o| %>
          <li>#<%= o.quote_id %>|<%= o.company_name %>|<%= o.quote_amount %>|<%= o.quote_link %></li>
      <% end %>
      </ul>

    </div>

    <div id="col3">
      <h2>Next Day</h2>

      <div id="pending-quotes">
        <h3>Pending Quotes</h3>
        <ul id="quotes">
        <% @quotes.each do |t| %>
            <li> <%= t.quote_due_date %> </li>
        <% end %>
        </ul>
        </div>


      </div>
    </div>

    <div style="clear:both;"></div>
  </div>
</section>