<h1>Listing prospects</h1>

<table>
  <thead>
    <tr>
      <th>Prospect</th>
      <th>Prospect company</th>
      <th>Prospect name</th>
      <th>Prospect phone</th>
      <th>Prospect email</th>
      <th>Prospect address city state zip</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.prospect_id %></td>
        <td><%= prospect.prospect_company %></td>
        <td><%= prospect.prospect_name %></td>
        <td><%= prospect.prospect_phone %></td>
        <td><%= prospect.prospect_email %></td>
        <td><%= prospect.prospect_address_city_state_zip %></td>
        <td><%= link_to 'Show', prospect %></td>
        <td><%= link_to 'Edit', edit_prospect_path(prospect) %></td>
        <td><%= link_to 'Destroy', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect', new_prospect_path %>
